flow.json
[{"id":"12b119be.e59276","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"204bfc6f.3bae44","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d8ca9e1d.63c26","type":"ui_tab","z":"","name":"COVID Belgium","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"771789ee.d49f38","type":"ui_group","z":"","name":"Add graph","tab":"d8ca9e1d.63c26","order":3,"disp":true,"width":"5","collapse":false},{"id":"379026d6.38409a","type":"ui_group","z":"","name":"Chart","tab":"d8ca9e1d.63c26","order":1,"disp":true,"width":"29","collapse":false},{"id":"d04309e4.79e598","type":"ui_group","z":"","name":"Retrieve data","tab":"d8ca9e1d.63c26","order":2,"disp":false,"width":"5","collapse":false},{"id":"e17b31cb.98fc7","type":"inject","z":"12b119be.e59276","name":"load","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["65b9351.28badcc"]]},{"id":"65b9351.28badcc","type":"http request","z":"12b119be.e59276","name":"COVID19BE_CASES_AGESEX","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://epistat.sciensano.be/Data/COVID19BE_CASES_AGESEX.json","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":140,"wires":[["6ff020.0f0dafe"]]},{"id":"70c845a2.a3406c","type":"debug","z":"12b119be.e59276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":120,"wires":[]},{"id":"6ff020.0f0dafe","type":"json","z":"12b119be.e59276","name":"","property":"payload","action":"","pretty":false,"x":130,"y":180,"wires":[["70c845a2.a3406c","5393f005.b388b"]]},{"id":"5393f005.b388b","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"COVID19BE_CASES_AGESEX","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":220,"wires":[["c85c4546.5170e8","c1f20f51.d8945","6a31ab2a.bf5224","196c308f.d15e6f","7d6cf116.831b9"]]},{"id":"64f2b848.1ea2f8","type":"ui_dropdown","z":"12b119be.e59276","name":"select province","label":"province","tooltip":"","place":"Select option","group":"771789ee.d49f38","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":580,"y":360,"wires":[["df43a07b.ee6e1"]]},{"id":"c85c4546.5170e8","type":"change","z":"12b119be.e59276","name":"msg.options = [PROVINCE]","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.PROVINCE~>$distinct()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[["64f2b848.1ea2f8"]]},{"id":"165fb381.95612c","type":"ui_dropdown","z":"12b119be.e59276","name":"select agegroup","label":"age group","tooltip":"","place":"Select option","group":"771789ee.d49f38","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":580,"y":300,"wires":[["4f2f447d.da80ec"]]},{"id":"c1f20f51.d8945","type":"change","z":"12b119be.e59276","name":"msg.options = [AGEGROEP]","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.AGEGROUP~>$distinct()~>$sort()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[["165fb381.95612c"]]},{"id":"c0fec90e.8e3ac8","type":"ui_dropdown","z":"12b119be.e59276","name":"select sex","label":"sex","tooltip":"","place":"Select option","group":"771789ee.d49f38","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":560,"y":420,"wires":[["5aa7bcb5.bf1e04"]]},{"id":"6a31ab2a.bf5224","type":"change","z":"12b119be.e59276","name":"msg.options = [SEX]","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.SEX~>$distinct()~>$sort()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":420,"wires":[["c0fec90e.8e3ac8"]]},{"id":"4f2f447d.da80ec","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"AGEGROUP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":300,"wires":[[]]},{"id":"df43a07b.ee6e1","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"PROVINCE","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":360,"wires":[[]]},{"id":"5aa7bcb5.bf1e04","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"SEX","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":420,"wires":[[]]},{"id":"db2fc2d3.70131","type":"ui_chart","z":"12b119be.e59276","name":"","group":"379026d6.38409a","order":1,"width":0,"height":0,"label":"Confirmed cases","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#14f023","#ff7f0e","#2ca02c","#33e3e6","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":510,"y":760,"wires":[[]]},{"id":"5691366a.5867a8","type":"ui_button","z":"12b119be.e59276","name":"add to chart","group":"771789ee.d49f38","order":4,"width":0,"height":0,"passthru":false,"label":"add to chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":560,"wires":[["63b390ac.661bc"]]},{"id":"8d94f671.5e4138","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"COVID19BE_CASES_AGESEX","pt":"msg","to":"COVID19BE_CASES_AGESEX","tot":"flow"},{"t":"set","p":"PROVINCE","pt":"msg","to":"PROVINCE","tot":"flow"},{"t":"set","p":"AGEGROUP","pt":"msg","to":"AGEGROUP","tot":"flow"},{"t":"set","p":"SEX","pt":"msg","to":"SEX","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"[{\t    \"series\": [\"confirmed cases\"],\t    \"data\": [ [COVID19BE_CASES_AGESEX[     PROVINCE = $$.PROVINCE \t                                      and AGEGROUP = $$.AGEGROUP\t                                      and SEX      = $$.SEX].{ \"x\": $toMillis(DATE), \"y\" : CASES } ]],\t    \"labels\": [ \"\"]\t}]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":620,"wires":[["281c4ed3.22e2e2"]]},{"id":"281c4ed3.22e2e2","type":"debug","z":"12b119be.e59276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":680,"wires":[]},{"id":"63b390ac.661bc","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"COVID19BE_CASES_AGESEX","pt":"msg","to":"COVID19BE_CASES_AGESEX","tot":"flow"},{"t":"set","p":"PROVINCE","pt":"msg","to":"PROVINCE","tot":"flow"},{"t":"set","p":"AGEGROUP","pt":"msg","to":"AGEGROUP","tot":"flow"},{"t":"set","p":"SEX","pt":"msg","to":"SEX","tot":"flow"},{"t":"set","p":"AVERAGE_PERIOD","pt":"msg","to":"AVERAGE_PERIOD","tot":"flow"},{"t":"set","p":"cases","pt":"msg","to":"/* returns an array of\t     { \"x\" : date_in_ms,\t       \"y\" : average_number_of_cases }\t*/\t( $subset := COVID19BE_CASES_AGESEX[     PROVINCE = $$.PROVINCE \t                                      and AGEGROUP = $$.AGEGROUP\t                                      and SEX      = $$.SEX].{ \"date_int\" : $toMillis(DATE)/(24*60*60*1000),\t                                                               \"cases\"  : CASES};\t  $first_day := $subset.date_int~>$min();\t  $last_day := $subset.date_int~>$max();\t  [ $first_day ..  ( $last_day -AVERAGE_PERIOD+1)].(\t      $start_period :=$;\t      $end_period   :=$start_period + $$.AVERAGE_PERIOD -1;\t      $sum_cases    := $subset[ date_int >= $start_period and date_int <= $end_period].cases~>$sum();\t      {\t     \"x\" : ($start_period + $end_period )*24*60*60*1000/2,\t     \"y\" :$sum_cases~>$exists()?$sum_cases/($$.AVERAGE_PERIOD): 0\t     })\t)","tot":"jsonata"},{"t":"set","p":"filter","pt":"msg","to":"msg.PROVINCE & \" age:\" & msg.AGEGROUP &  \"  sex:\" & msg.SEX & \" avg:\" & msg.AVERAGE_PERIOD & \" days\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":560,"wires":[["4af9900f.d0e3","bb713945.e61098"]]},{"id":"4af9900f.d0e3","type":"debug","z":"12b119be.e59276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":560,"wires":[]},{"id":"6ca47550.8316ec","type":"debug","z":"12b119be.e59276","name":"chart input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":720,"wires":[]},{"id":"d941c0b5.eb628","type":"ui_button","z":"12b119be.e59276","name":"","group":"d04309e4.79e598","order":1,"width":0,"height":0,"passthru":false,"label":"retrieve data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":40,"wires":[["65b9351.28badcc","1f8e7e32.b798f2"]]},{"id":"867d8f7b.791ce","type":"ui_text","z":"12b119be.e59276","group":"d04309e4.79e598","order":2,"width":0,"height":0,"name":"","label":"last date","format":"{{msg.last_date}}","layout":"row-spread","x":800,"y":220,"wires":[]},{"id":"acd0c19f.39795","type":"debug","z":"12b119be.e59276","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"196c308f.d15e6f","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"last_date","pt":"msg","to":"(payload.DATE)[-1]","tot":"jsonata"},{"t":"set","p":"record_count","pt":"msg","to":"payload~>$count()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["867d8f7b.791ce","acd0c19f.39795","724f47d5.b2daf8"]]},{"id":"7d6cf116.831b9","type":"debug","z":"12b119be.e59276","name":"input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":180,"wires":[]},{"id":"724f47d5.b2daf8","type":"ui_text","z":"12b119be.e59276","group":"d04309e4.79e598","order":2,"width":0,"height":0,"name":"","label":"record count","format":"{{msg.record_count}}","layout":"row-spread","x":810,"y":260,"wires":[]},{"id":"bb713945.e61098","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"chart","pt":"msg","to":"chart","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"[{\t  \"series\" : chart[0].series~>$append(filter),\t  \"data\"   : chart[0].data ~> $append([[cases]]),\t  \"labels\" : [ \"\" ]\t}]","tot":"jsonata"},{"t":"set","p":"chart","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":620,"wires":[["db2fc2d3.70131","6ca47550.8316ec"]]},{"id":"41db756.544098c","type":"ui_button","z":"12b119be.e59276","name":"","group":"771789ee.d49f38","order":4,"width":0,"height":0,"passthru":false,"label":"clear chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":760,"wires":[["1f8e7e32.b798f2"]]},{"id":"1f8e7e32.b798f2","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"chart","pt":"flow","to":"[{\"series\":[],\"data\":[],\"labels\":[\"\"]}]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"chart","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":760,"wires":[["db2fc2d3.70131"]]},{"id":"98143eb9.b573e","type":"ui_dropdown","z":"12b119be.e59276","name":"","label":"period to average","tooltip":"","place":"Select option","group":"771789ee.d49f38","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"no average","value":1,"type":"num"},{"label":"2 days","value":2,"type":"num"},{"label":"4 days","value":4,"type":"num"},{"label":"7 days","value":7,"type":"num"},{"label":"14 days","value":14,"type":"num"}],"payload":"","topic":"","x":550,"y":480,"wires":[["bacae1ba.07006"]]},{"id":"bacae1ba.07006","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"AVERAGE_PERIOD","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":480,"wires":[[]]}]