flow.json
[{"id":"12b119be.e59276","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bfd23e84.79e77","type":"tab","label":"problem scenario org","disabled":true,"info":""},{"id":"3f116b2f.d389a4","type":"tab","label":"problem scenario","disabled":true,"info":""},{"id":"c890cc82.ba658","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"6fe3a629.ef0bf8","type":"subflow","name":"flow-performance","info":"","category":"","in":[{"x":80,"y":100,"wires":[{"id":"d7142bdd.cf16f8"}]}],"out":[{"x":440,"y":100,"wires":[{"id":"d7142bdd.cf16f8","port":0}]}],"env":[{"name":"name","type":"str","value":"measure","ui":{"icon":"font-awesome/fa-tag","label":{"en-US":"Name"},"type":"input","opts":{"types":["str","env"]}}},{"name":"operation","type":"str","value":"start","ui":{"icon":"font-awesome/fa-cog","label":{"en-US":"Operation"},"type":"select","opts":{"opts":[{"l":{"en-US":"start"},"v":"start"},{"l":{"en-US":"stop"},"v":"stop"},{"l":{"en-US":"msg.topic"},"v":"msg.topic"},{"l":{"en-US":"msg.operation"},"v":"msg.operation"},{"l":{"en-US":"msg.payload"},"v":"msg.payload"}]}}}],"color":"#DDAA99"},{"id":"204bfc6f.3bae44","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d8ca9e1d.63c26","type":"ui_tab","z":"","name":"COVID Belgium","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"771789ee.d49f38","type":"ui_group","z":"","name":"Add graph","tab":"d8ca9e1d.63c26","order":3,"disp":true,"width":"5","collapse":false},{"id":"379026d6.38409a","type":"ui_group","z":"","name":"Chart","tab":"d8ca9e1d.63c26","order":1,"disp":true,"width":"29","collapse":false},{"id":"d04309e4.79e598","type":"ui_group","z":"","name":"Retrieve data","tab":"d8ca9e1d.63c26","order":2,"disp":true,"width":"5","collapse":false},{"id":"78abac4a.0c9974","type":"ui_group","z":"","name":"Delete graphs","tab":"d8ca9e1d.63c26","order":4,"disp":true,"width":"5","collapse":false},{"id":"e17b31cb.98fc7","type":"inject","z":"12b119be.e59276","name":"load","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["65b9351.28badcc","a47cfaf0.b9e898"]]},{"id":"65b9351.28badcc","type":"http request","z":"12b119be.e59276","name":"COVID19BE_CASES_AGESEX","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://epistat.sciensano.be/Data/COVID19BE_CASES_AGESEX.json","tls":"","persist":false,"proxy":"","authType":"","x":210,"y":140,"wires":[["6ff020.0f0dafe"]]},{"id":"70c845a2.a3406c","type":"debug","z":"12b119be.e59276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":120,"wires":[]},{"id":"6ff020.0f0dafe","type":"json","z":"12b119be.e59276","name":"","property":"payload","action":"","pretty":false,"x":130,"y":180,"wires":[["70c845a2.a3406c","5393f005.b388b"]]},{"id":"5393f005.b388b","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"COVID19BE_CASES_AGESEX","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":220,"wires":[["c85c4546.5170e8","c1f20f51.d8945","6a31ab2a.bf5224","196c308f.d15e6f","7d6cf116.831b9"]]},{"id":"64f2b848.1ea2f8","type":"ui_dropdown","z":"12b119be.e59276","name":"select province","label":"province","tooltip":"","place":"Select option","group":"771789ee.d49f38","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":580,"y":360,"wires":[["df43a07b.ee6e1"]]},{"id":"c85c4546.5170e8","type":"change","z":"12b119be.e59276","name":"msg.options = [PROVINCE]","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.PROVINCE~>$distinct()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[["64f2b848.1ea2f8"]]},{"id":"165fb381.95612c","type":"ui_dropdown","z":"12b119be.e59276","name":"select agegroup","label":"age group","tooltip":"","place":"Select option","group":"771789ee.d49f38","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":580,"y":300,"wires":[["4f2f447d.da80ec"]]},{"id":"c1f20f51.d8945","type":"change","z":"12b119be.e59276","name":"msg.options = [AGEGROEP]","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.AGEGROUP~>$distinct()~>$sort()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":300,"wires":[["165fb381.95612c"]]},{"id":"c0fec90e.8e3ac8","type":"ui_dropdown","z":"12b119be.e59276","name":"select sex","label":"sex","tooltip":"","place":"Select option","group":"771789ee.d49f38","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":560,"y":420,"wires":[["5aa7bcb5.bf1e04"]]},{"id":"6a31ab2a.bf5224","type":"change","z":"12b119be.e59276","name":"msg.options = [SEX]","rules":[{"t":"set","p":"options","pt":"msg","to":"payload.SEX~>$distinct()~>$sort()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":420,"wires":[["c0fec90e.8e3ac8"]]},{"id":"4f2f447d.da80ec","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"AGEGROUP","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":300,"wires":[[]]},{"id":"df43a07b.ee6e1","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"PROVINCE","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":360,"wires":[[]]},{"id":"5aa7bcb5.bf1e04","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"SEX","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":420,"wires":[[]]},{"id":"db2fc2d3.70131","type":"ui_chart","z":"12b119be.e59276","name":"","group":"379026d6.38409a","order":1,"width":0,"height":0,"label":"Confirmed cases","chartType":"line","legend":"true","xformat":"D/M","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#14f023","#ff7f0e","#2ca02c","#33e3e6","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":740,"wires":[[]]},{"id":"5691366a.5867a8","type":"ui_button","z":"12b119be.e59276","name":"add to chart","group":"771789ee.d49f38","order":5,"width":0,"height":0,"passthru":false,"label":"add to chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":560,"wires":[["63b390ac.661bc"]]},{"id":"63b390ac.661bc","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"COVID19BE_CASES_AGESEX","pt":"msg","to":"COVID19BE_CASES_AGESEX","tot":"flow"},{"t":"set","p":"PROVINCE","pt":"msg","to":"PROVINCE","tot":"flow"},{"t":"set","p":"AGEGROUP","pt":"msg","to":"AGEGROUP","tot":"flow"},{"t":"set","p":"SEX","pt":"msg","to":"SEX","tot":"flow"},{"t":"set","p":"AVERAGE_PERIOD","pt":"msg","to":"AVERAGE_PERIOD","tot":"flow"},{"t":"set","p":"cases","pt":"msg","to":"/* returns an array of\t     { \"x\" : date_in_ms,\t       \"y\" : average_number_of_cases }\t*/\t( $subset := COVID19BE_CASES_AGESEX[     PROVINCE = $$.PROVINCE \t                                      and AGEGROUP = $$.AGEGROUP\t                                      and SEX      = $$.SEX].{ \"date_int\" : $toMillis(DATE)/(24*60*60*1000),\t                                                               \"cases\"  : CASES};\t  $first_day := $subset.date_int~>$min();\t  $last_day := $subset.date_int~>$max();\t  [ $first_day ..  ( $last_day -AVERAGE_PERIOD+1)].(\t      $start_period :=$;\t      $end_period   :=$start_period + $$.AVERAGE_PERIOD -1;\t      $sum_cases    := $subset[ date_int >= $start_period and date_int <= $end_period].cases~>$sum();\t      {\t     \"x\" : ($start_period + $end_period )*24*60*60*1000/2,\t     \"y\" :$sum_cases~>$exists()?$sum_cases/($$.AVERAGE_PERIOD): 0\t     })\t)","tot":"jsonata"},{"t":"set","p":"filter","pt":"msg","to":"msg.PROVINCE & \" age:\" & msg.AGEGROUP &  \"  sex:\" & msg.SEX & \" avg:\" & msg.AVERAGE_PERIOD & \" days\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":560,"wires":[["4af9900f.d0e3","bb713945.e61098"]]},{"id":"4af9900f.d0e3","type":"debug","z":"12b119be.e59276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":510,"y":560,"wires":[]},{"id":"6ca47550.8316ec","type":"debug","z":"12b119be.e59276","name":"chart input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":620,"wires":[]},{"id":"d941c0b5.eb628","type":"ui_button","z":"12b119be.e59276","name":"","group":"d04309e4.79e598","order":3,"width":0,"height":0,"passthru":false,"label":"retrieve data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":40,"wires":[["65b9351.28badcc","1f8e7e32.b798f2","a47cfaf0.b9e898"]]},{"id":"867d8f7b.791ce","type":"ui_text","z":"12b119be.e59276","group":"d04309e4.79e598","order":1,"width":0,"height":0,"name":"","label":"last date","format":"{{msg.last_date}}","layout":"row-spread","x":800,"y":220,"wires":[]},{"id":"acd0c19f.39795","type":"debug","z":"12b119be.e59276","name":"output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":160,"wires":[]},{"id":"196c308f.d15e6f","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"last_date","pt":"msg","to":"(payload.DATE)[-1]","tot":"jsonata"},{"t":"set","p":"record_count","pt":"msg","to":"payload~>$count()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":220,"wires":[["867d8f7b.791ce","acd0c19f.39795","724f47d5.b2daf8"]]},{"id":"7d6cf116.831b9","type":"debug","z":"12b119be.e59276","name":"input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":180,"wires":[]},{"id":"724f47d5.b2daf8","type":"ui_text","z":"12b119be.e59276","group":"d04309e4.79e598","order":2,"width":0,"height":0,"name":"","label":"record count","format":"{{msg.record_count}}","layout":"row-spread","x":810,"y":260,"wires":[]},{"id":"bb713945.e61098","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"chart","pt":"msg","to":"chart","tot":"flow"},{"t":"set","p":"chart","pt":"flow","to":"[{\t  \"series\" : chart[0].series~>$append(filter),\t  \"data\"   : chart[0].data ~> $append([[cases]]),\t  \"labels\" : [ \"\" ]\t}]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":620,"wires":[["6ca47550.8316ec","94861de5.006c2","11062c73.85cc54"]]},{"id":"41db756.544098c","type":"ui_button","z":"12b119be.e59276","name":"","group":"78abac4a.0c9974","order":3,"width":0,"height":0,"passthru":false,"label":"clear chart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":760,"wires":[["1f8e7e32.b798f2"]]},{"id":"1f8e7e32.b798f2","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"chart","pt":"flow","to":"[{\"series\":[],\"data\":[],\"labels\":[\"\"]}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":760,"wires":[["11062c73.85cc54"]]},{"id":"98143eb9.b573e","type":"ui_dropdown","z":"12b119be.e59276","name":"","label":"period to average","tooltip":"","place":"Select option","group":"771789ee.d49f38","order":4,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"no average","value":1,"type":"num"},{"label":"2 days","value":2,"type":"num"},{"label":"4 days","value":4,"type":"num"},{"label":"7 days","value":7,"type":"num"},{"label":"14 days","value":14,"type":"num"}],"payload":"","topic":"","x":550,"y":480,"wires":[["bacae1ba.07006"]]},{"id":"bacae1ba.07006","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"AVERAGE_PERIOD","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":480,"wires":[[]]},{"id":"66bf8c8.3fec274","type":"ui_toast","z":"12b119be.e59276","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":590,"y":40,"wires":[]},{"id":"a47cfaf0.b9e898","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Retrieving Siensano data.  Be patient as it takes a few seconds ....","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":60,"wires":[["66bf8c8.3fec274"]]},{"id":"fdedaefe.c0e7b","type":"inject","z":"12b119be.e59276","name":"init","props":[{"p":"last_date","v":"no data","vt":"str"},{"p":"record_count","v":"no data","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":710,"y":100,"wires":[["867d8f7b.791ce","724f47d5.b2daf8"]]},{"id":"73f6064c.7c1048","type":"ui_button","z":"12b119be.e59276","name":"","group":"78abac4a.0c9974","order":2,"width":0,"height":0,"passthru":false,"label":"delete graph","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":920,"wires":[["91c1630c.f878"]]},{"id":"393f08d8.e6e6a8","type":"ui_dropdown","z":"12b119be.e59276","name":"","label":"select graph","tooltip":"","place":"Select option","group":"78abac4a.0c9974","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":590,"y":860,"wires":[["a97bfbb9.244408"]]},{"id":"623b917c.f903a","type":"inject","z":"12b119be.e59276","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":860,"wires":[["94861de5.006c2"]]},{"id":"94861de5.006c2","type":"change","z":"12b119be.e59276","name":"chart.series","rules":[{"t":"set","p":"chart","pt":"msg","to":"chart","tot":"flow"},{"t":"set","p":"options","pt":"msg","to":"(chart.series)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":860,"wires":[["393f08d8.e6e6a8","265335d0.c0dcaa"]]},{"id":"265335d0.c0dcaa","type":"debug","z":"12b119be.e59276","name":"series","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":570,"y":820,"wires":[]},{"id":"a97bfbb9.244408","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"chart_to_delete","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":860,"wires":[[]]},{"id":"91c1630c.f878","type":"change","z":"12b119be.e59276","name":"delete chart data","rules":[{"t":"set","p":"chart","pt":"msg","to":"chart","tot":"flow"},{"t":"set","p":"chart_to_delete","pt":"msg","to":"chart_to_delete","tot":"flow"},{"t":"set","p":"chart","pt":"flow","to":"(/* $index is the array index of the chart to delete */\t $index := chart.series#$pos[$=$$.chart_to_delete].$pos;\t /* following expression deletes the element with index=$index in the chart.series array\t     - \"[]\"\" at the end is needed to convert a single element back to an array with single element \t     - take care that deleting the only element in the array will not return an empty array, instead\t       the variable $new_chart_series will not be initialized  */\t $new_chart_series := (chart.series)#$pos[$pos != $index][];\t   [{\t       \"series\" : $exists($new_chart_series)? $new_chart_series                    :[],\t       \"data\"   : $exists($new_chart_series)? (chart.data)#$pos[$pos != $index][]  :[]\t   }]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":920,"wires":[["94861de5.006c2","11062c73.85cc54","594d72bb.596d3c"]]},{"id":"11062c73.85cc54","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"chart","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"msg.payload.series~>$count()!=0\t ? msg.payload\t : /* empty chart */\t[\t   {\t       \"series\":[\"no graphs\"],\t       \"data\" :[[]],\t       \"labels\":[\"\"]\t   }\t]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":740,"wires":[["db2fc2d3.70131"]]},{"id":"594d72bb.596d3c","type":"debug","z":"12b119be.e59276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"$flowContext(\"chart\")","targetType":"jsonata","statusVal":"","statusType":"auto","x":510,"y":920,"wires":[]},{"id":"fe80633b.c3b22","type":"inject","z":"12b119be.e59276","name":"","props":[{"p":"chart","v":"[{\"series\":[\"Liège age:20-29  sex:F avg:7 days\"],\"data\":[{\"x\":1583539200000,\"y\":0},{\"x\":1583625600000,\"y\":0},{\"x\":1583712000000,\"y\":0},{\"x\":1583798400000,\"y\":0.14285714285714285},{\"x\":1583884800000,\"y\":0.14285714285714285},{\"x\":1583971200000,\"y\":0.14285714285714285},{\"x\":1584057600000,\"y\":0.14285714285714285},{\"x\":1584144000000,\"y\":0.14285714285714285},{\"x\":1584230400000,\"y\":0.2857142857142857},{\"x\":1584316800000,\"y\":0.2857142857142857},{\"x\":1584403200000,\"y\":0.14285714285714285},{\"x\":1584489600000,\"y\":0.14285714285714285},{\"x\":1584576000000,\"y\":0.14285714285714285},{\"x\":1584662400000,\"y\":0.14285714285714285},{\"x\":1584748800000,\"y\":0.2857142857142857},{\"x\":1584835200000,\"y\":0.5714285714285714},{\"x\":1584921600000,\"y\":0.5714285714285714},{\"x\":1585008000000,\"y\":0.5714285714285714},{\"x\":1585094400000,\"y\":0.5714285714285714},{\"x\":1585180800000,\"y\":0.5714285714285714},{\"x\":1585267200000,\"y\":0.7142857142857143},{\"x\":1585353600000,\"y\":0.5714285714285714},{\"x\":1585440000000,\"y\":0.14285714285714285},{\"x\":1585526400000,\"y\":0.42857142857142855},{\"x\":1585612800000,\"y\":0.42857142857142855},{\"x\":1585699200000,\"y\":0.42857142857142855},{\"x\":1585785600000,\"y\":0.42857142857142855},{\"x\":1585872000000,\"y\":0.42857142857142855},{\"x\":1585958400000,\"y\":0.5714285714285714},{\"x\":1586044800000,\"y\":0.7142857142857143},{\"x\":1586131200000,\"y\":0.42857142857142855},{\"x\":1586217600000,\"y\":1},{\"x\":1586304000000,\"y\":1.1428571428571428},{\"x\":1586390400000,\"y\":1.1428571428571428},{\"x\":1586476800000,\"y\":1},{\"x\":1586563200000,\"y\":1},{\"x\":1586649600000,\"y\":1.1428571428571428},{\"x\":1586736000000,\"y\":1.1428571428571428},{\"x\":1586822400000,\"y\":0.5714285714285714},{\"x\":1586908800000,\"y\":0.42857142857142855},{\"x\":1586995200000,\"y\":0.42857142857142855},{\"x\":1587081600000,\"y\":0.42857142857142855},{\"x\":1587168000000,\"y\":0.42857142857142855},{\"x\":1587254400000,\"y\":0.14285714285714285},{\"x\":1587340800000,\"y\":0.42857142857142855},{\"x\":1587427200000,\"y\":0.42857142857142855},{\"x\":1587513600000,\"y\":0.5714285714285714},{\"x\":1587600000000,\"y\":0.5714285714285714},{\"x\":1587686400000,\"y\":0.5714285714285714},{\"x\":1587772800000,\"y\":0.42857142857142855},{\"x\":1587859200000,\"y\":0.42857142857142855},{\"x\":1587945600000,\"y\":0.14285714285714285},{\"x\":1588032000000,\"y\":0.14285714285714285},{\"x\":1588118400000,\"y\":0},{\"x\":1588204800000,\"y\":0},{\"x\":1588291200000,\"y\":0},{\"x\":1588377600000,\"y\":0.14285714285714285},{\"x\":1588464000000,\"y\":0.2857142857142857},{\"x\":1588550400000,\"y\":0.8571428571428571},{\"x\":1588636800000,\"y\":1},{\"x\":1588723200000,\"y\":1},{\"x\":1588809600000,\"y\":1},{\"x\":1588896000000,\"y\":1},{\"x\":1588982400000,\"y\":0.8571428571428571},{\"x\":1589068800000,\"y\":0.7142857142857143},{\"x\":1589155200000,\"y\":0.14285714285714285},{\"x\":1589241600000,\"y\":0},{\"x\":1589328000000,\"y\":0},{\"x\":1589414400000,\"y\":0},{\"x\":1589500800000,\"y\":0},{\"x\":1589587200000,\"y\":0},{\"x\":1589673600000,\"y\":0},{\"x\":1589760000000,\"y\":0},{\"x\":1589846400000,\"y\":0},{\"x\":1589932800000,\"y\":0},{\"x\":1590019200000,\"y\":0.14285714285714285},{\"x\":1590105600000,\"y\":0.14285714285714285},{\"x\":1590192000000,\"y\":0.14285714285714285},{\"x\":1590278400000,\"y\":0.14285714285714285},{\"x\":1590364800000,\"y\":0.14285714285714285},{\"x\":1590451200000,\"y\":0.14285714285714285},{\"x\":1590537600000,\"y\":0.14285714285714285},{\"x\":1590624000000,\"y\":0},{\"x\":1590710400000,\"y\":0},{\"x\":1590796800000,\"y\":0},{\"x\":1590883200000,\"y\":0.14285714285714285},{\"x\":1590969600000,\"y\":0.14285714285714285},{\"x\":1591056000000,\"y\":0.2857142857142857},{\"x\":1591142400000,\"y\":0.2857142857142857},{\"x\":1591228800000,\"y\":0.2857142857142857},{\"x\":1591315200000,\"y\":0.42857142857142855},{\"x\":1591401600000,\"y\":0.42857142857142855},{\"x\":1591488000000,\"y\":0.2857142857142857},{\"x\":1591574400000,\"y\":0.2857142857142857},{\"x\":1591660800000,\"y\":0.14285714285714285},{\"x\":1591747200000,\"y\":0.14285714285714285},{\"x\":1591833600000,\"y\":0.14285714285714285},{\"x\":1591920000000,\"y\":0},{\"x\":1592006400000,\"y\":0.14285714285714285},{\"x\":1592092800000,\"y\":0.14285714285714285},{\"x\":1592179200000,\"y\":0.14285714285714285},{\"x\":1592265600000,\"y\":0.14285714285714285},{\"x\":1592352000000,\"y\":0.42857142857142855},{\"x\":1592438400000,\"y\":0.42857142857142855},{\"x\":1592524800000,\"y\":0.42857142857142855},{\"x\":1592611200000,\"y\":0.42857142857142855},{\"x\":1592697600000,\"y\":0.7142857142857143},{\"x\":1592784000000,\"y\":0.7142857142857143},{\"x\":1592870400000,\"y\":0.8571428571428571},{\"x\":1592956800000,\"y\":0.5714285714285714},{\"x\":1593043200000,\"y\":0.5714285714285714},{\"x\":1593129600000,\"y\":0.5714285714285714},{\"x\":1593216000000,\"y\":0.42857142857142855},{\"x\":1593302400000,\"y\":0.14285714285714285},{\"x\":1593388800000,\"y\":0.14285714285714285},{\"x\":1593475200000,\"y\":0},{\"x\":1593561600000,\"y\":0},{\"x\":1593648000000,\"y\":0},{\"x\":1593734400000,\"y\":0.14285714285714285},{\"x\":1593820800000,\"y\":0.14285714285714285},{\"x\":1593907200000,\"y\":0.14285714285714285},{\"x\":1593993600000,\"y\":0.14285714285714285},{\"x\":1594080000000,\"y\":0.2857142857142857},{\"x\":1594166400000,\"y\":0.42857142857142855},{\"x\":1594252800000,\"y\":0.42857142857142855},{\"x\":1594339200000,\"y\":0.42857142857142855},{\"x\":1594425600000,\"y\":1},{\"x\":1594512000000,\"y\":1},{\"x\":1594598400000,\"y\":1},{\"x\":1594684800000,\"y\":0.8571428571428571},{\"x\":1594771200000,\"y\":0.7142857142857143},{\"x\":1594857600000,\"y\":0.8571428571428571},{\"x\":1594944000000,\"y\":1},{\"x\":1595030400000,\"y\":0.5714285714285714},{\"x\":1595116800000,\"y\":0.7142857142857143},{\"x\":1595203200000,\"y\":0.8571428571428571},{\"x\":1595289600000,\"y\":1.1428571428571428},{\"x\":1595376000000,\"y\":1.1428571428571428},{\"x\":1595462400000,\"y\":1.1428571428571428},{\"x\":1595548800000,\"y\":1},{\"x\":1595635200000,\"y\":1.7142857142857142},{\"x\":1595721600000,\"y\":2},{\"x\":1595808000000,\"y\":3.5714285714285716},{\"x\":1595894400000,\"y\":4.571428571428571},{\"x\":1595980800000,\"y\":4.714285714285714},{\"x\":1596067200000,\"y\":4.714285714285714},{\"x\":1596153600000,\"y\":6.714285714285714},{\"x\":1596240000000,\"y\":7.571428571428571},{\"x\":1596326400000,\"y\":7.857142857142857},{\"x\":1596412800000,\"y\":6.857142857142857},{\"x\":1596499200000,\"y\":5.714285714285714},{\"x\":1596585600000,\"y\":5.714285714285714},{\"x\":1596672000000,\"y\":5.571428571428571},{\"x\":1596758400000,\"y\":4.285714285714286},{\"x\":1596844800000,\"y\":3.2857142857142856},{\"x\":1596931200000,\"y\":3},{\"x\":1597017600000,\"y\":2.857142857142857},{\"x\":1597104000000,\"y\":3.857142857142857},{\"x\":1597190400000,\"y\":3.857142857142857},{\"x\":1597276800000,\"y\":3.857142857142857},{\"x\":1597363200000,\"y\":3.2857142857142856},{\"x\":1597449600000,\"y\":3},{\"x\":1597536000000,\"y\":2.857142857142857},{\"x\":1597622400000,\"y\":2.5714285714285716},{\"x\":1597708800000,\"y\":1.5714285714285714},{\"x\":1597795200000,\"y\":1.7142857142857142},{\"x\":1597881600000,\"y\":1.8571428571428572},{\"x\":1597968000000,\"y\":2.4285714285714284},{\"x\":1598054400000,\"y\":2.4285714285714284},{\"x\":1598140800000,\"y\":2.4285714285714284},{\"x\":1598227200000,\"y\":2.7142857142857144},{\"x\":1598313600000,\"y\":3.142857142857143},{\"x\":1598400000000,\"y\":3.2857142857142856},{\"x\":1598486400000,\"y\":3.2857142857142856},{\"x\":1598572800000,\"y\":2.857142857142857},{\"x\":1598659200000,\"y\":3.4285714285714284},{\"x\":1598745600000,\"y\":3.4285714285714284},{\"x\":1598832000000,\"y\":3.2857142857142856},{\"x\":1598918400000,\"y\":3.2857142857142856},{\"x\":1599004800000,\"y\":2.857142857142857},{\"x\":1599091200000,\"y\":2.7142857142857144},{\"x\":1599177600000,\"y\":3},{\"x\":1599264000000,\"y\":2.857142857142857},{\"x\":1599350400000,\"y\":4},{\"x\":1599436800000,\"y\":4.285714285714286},{\"x\":1599523200000,\"y\":5},{\"x\":1599609600000,\"y\":5.571428571428571},{\"x\":1599696000000,\"y\":5.571428571428571},{\"x\":1599782400000,\"y\":6},{\"x\":1599868800000,\"y\":5.428571428571429},[{\"x\":1583712000000,\"y\":1.1428571428571428},{\"x\":1583798400000,\"y\":1.4285714285714286},{\"x\":1583884800000,\"y\":1.7142857142857142},{\"x\":1583971200000,\"y\":2.2857142857142856},{\"x\":1584057600000,\"y\":2.5714285714285716},{\"x\":1584144000000,\"y\":2.857142857142857},{\"x\":1584230400000,\"y\":2.857142857142857},{\"x\":1584316800000,\"y\":3.142857142857143},{\"x\":1584403200000,\"y\":3},{\"x\":1584489600000,\"y\":3.4285714285714284},{\"x\":1584576000000,\"y\":2.857142857142857},{\"x\":1584662400000,\"y\":4.571428571428571},{\"x\":1584748800000,\"y\":4.857142857142857},{\"x\":1584835200000,\"y\":5.714285714285714},{\"x\":1584921600000,\"y\":6.714285714285714},{\"x\":1585008000000,\"y\":7.714285714285714},{\"x\":1585094400000,\"y\":7},{\"x\":1585180800000,\"y\":7.428571428571429},{\"x\":1585267200000,\"y\":6.857142857142857},{\"x\":1585353600000,\"y\":7.714285714285714},{\"x\":1585440000000,\"y\":7.714285714285714},{\"x\":1585526400000,\"y\":7.142857142857143},{\"x\":1585612800000,\"y\":7.857142857142857},{\"x\":1585699200000,\"y\":9.285714285714286},{\"x\":1585785600000,\"y\":9.714285714285714},{\"x\":1585872000000,\"y\":10},{\"x\":1585958400000,\"y\":10},{\"x\":1586044800000,\"y\":10.714285714285714},{\"x\":1586131200000,\"y\":12.714285714285714},{\"x\":1586217600000,\"y\":13.571428571428571},{\"x\":1586304000000,\"y\":13.428571428571429},{\"x\":1586390400000,\"y\":13.857142857142858},{\"x\":1586476800000,\"y\":12.428571428571429},{\"x\":1586563200000,\"y\":14},{\"x\":1586649600000,\"y\":15.714285714285714},{\"x\":1586736000000,\"y\":14.142857142857142},{\"x\":1586822400000,\"y\":13.428571428571429},{\"x\":1586908800000,\"y\":13},{\"x\":1586995200000,\"y\":12},{\"x\":1587081600000,\"y\":13.142857142857142},{\"x\":1587168000000,\"y\":11.428571428571429},{\"x\":1587254400000,\"y\":9.142857142857142},{\"x\":1587340800000,\"y\":9.857142857142858},{\"x\":1587427200000,\"y\":8.714285714285714},{\"x\":1587513600000,\"y\":9.285714285714286},{\"x\":1587600000000,\"y\":9.142857142857142},{\"x\":1587686400000,\"y\":8},{\"x\":1587772800000,\"y\":7.285714285714286},{\"x\":1587859200000,\"y\":6.714285714285714},{\"x\":1587945600000,\"y\":5},{\"x\":1588032000000,\"y\":4.285714285714286},{\"x\":1588118400000,\"y\":3},{\"x\":1588204800000,\"y\":2.857142857142857},{\"x\":1588291200000,\"y\":2.857142857142857},{\"x\":1588377600000,\"y\":2.4285714285714284},{\"x\":1588464000000,\"y\":2.4285714285714284},{\"x\":1588550400000,\"y\":2.142857142857143},{\"x\":1588636800000,\"y\":2.5714285714285716},{\"x\":1588723200000,\"y\":3},{\"x\":1588809600000,\"y\":3.142857142857143},{\"x\":1588896000000,\"y\":2.7142857142857144},{\"x\":1588982400000,\"y\":2.7142857142857144},{\"x\":1589068800000,\"y\":2.4285714285714284},{\"x\":1589155200000,\"y\":2.2857142857142856},{\"x\":1589241600000,\"y\":1.8571428571428572},{\"x\":1589328000000,\"y\":1.5714285714285714},{\"x\":1589414400000,\"y\":1.5714285714285714},{\"x\":1589500800000,\"y\":1.5714285714285714},{\"x\":1589587200000,\"y\":1.8571428571428572},{\"x\":1589673600000,\"y\":2},{\"x\":1589760000000,\"y\":2.142857142857143},{\"x\":1589846400000,\"y\":2},{\"x\":1589932800000,\"y\":1.7142857142857142},{\"x\":1590019200000,\"y\":1.4285714285714286},{\"x\":1590105600000,\"y\":1.2857142857142858},{\"x\":1590192000000,\"y\":1.1428571428571428},{\"x\":1590278400000,\"y\":0.7142857142857143},{\"x\":1590364800000,\"y\":0.7142857142857143},{\"x\":1590451200000,\"y\":0.5714285714285714},{\"x\":1590537600000,\"y\":0.8571428571428571},{\"x\":1590624000000,\"y\":0.8571428571428571},{\"x\":1590710400000,\"y\":0.8571428571428571},{\"x\":1590796800000,\"y\":0.5714285714285714},{\"x\":1590883200000,\"y\":0.5714285714285714},{\"x\":1590969600000,\"y\":0.42857142857142855},{\"x\":1591056000000,\"y\":0.5714285714285714},{\"x\":1591142400000,\"y\":0.42857142857142855},{\"x\":1591228800000,\"y\":0.42857142857142855},{\"x\":1591315200000,\"y\":0.7142857142857143},{\"x\":1591401600000,\"y\":0.5714285714285714},{\"x\":1591488000000,\"y\":0.5714285714285714},{\"x\":1591574400000,\"y\":0.5714285714285714},{\"x\":1591660800000,\"y\":0.7142857142857143},{\"x\":1591747200000,\"y\":0.5714285714285714},{\"x\":1591833600000,\"y\":0.7142857142857143},{\"x\":1591920000000,\"y\":0.42857142857142855},{\"x\":1592006400000,\"y\":0.42857142857142855},{\"x\":1592092800000,\"y\":0.42857142857142855},{\"x\":1592179200000,\"y\":0.42857142857142855},{\"x\":1592265600000,\"y\":0.14285714285714285},{\"x\":1592352000000,\"y\":0.2857142857142857},{\"x\":1592438400000,\"y\":0.14285714285714285},{\"x\":1592524800000,\"y\":0.14285714285714285},{\"x\":1592611200000,\"y\":0.2857142857142857},{\"x\":1592697600000,\"y\":0.5714285714285714},{\"x\":1592784000000,\"y\":0.5714285714285714},{\"x\":1592870400000,\"y\":0.5714285714285714},{\"x\":1592956800000,\"y\":0.5714285714285714},{\"x\":1593043200000,\"y\":0.5714285714285714},{\"x\":1593129600000,\"y\":0.5714285714285714},{\"x\":1593216000000,\"y\":0.5714285714285714},{\"x\":1593302400000,\"y\":0.2857142857142857},{\"x\":1593388800000,\"y\":0.2857142857142857},{\"x\":1593475200000,\"y\":0.2857142857142857},{\"x\":1593561600000,\"y\":0.14285714285714285},{\"x\":1593648000000,\"y\":0.14285714285714285},{\"x\":1593734400000,\"y\":0.14285714285714285},{\"x\":1593820800000,\"y\":0.2857142857142857},{\"x\":1593907200000,\"y\":0.2857142857142857},{\"x\":1593993600000,\"y\":0.42857142857142855},{\"x\":1594080000000,\"y\":0.42857142857142855},{\"x\":1594166400000,\"y\":0.5714285714285714},{\"x\":1594252800000,\"y\":0.7142857142857143},{\"x\":1594339200000,\"y\":0.8571428571428571},{\"x\":1594425600000,\"y\":1.2857142857142858},{\"x\":1594512000000,\"y\":1.5714285714285714},{\"x\":1594598400000,\"y\":1.5714285714285714},{\"x\":1594684800000,\"y\":1.8571428571428572},{\"x\":1594771200000,\"y\":2},{\"x\":1594857600000,\"y\":1.8571428571428572},{\"x\":1594944000000,\"y\":2.4285714285714284},{\"x\":1595030400000,\"y\":1.7142857142857142},{\"x\":1595116800000,\"y\":1.8571428571428572},{\"x\":1595203200000,\"y\":2},{\"x\":1595289600000,\"y\":2.7142857142857144},{\"x\":1595376000000,\"y\":2.857142857142857},{\"x\":1595462400000,\"y\":3},{\"x\":1595548800000,\"y\":2.2857142857142856},{\"x\":1595635200000,\"y\":3},{\"x\":1595721600000,\"y\":3},{\"x\":1595808000000,\"y\":3.7142857142857144},{\"x\":1595894400000,\"y\":3.2857142857142856},{\"x\":1595980800000,\"y\":3.2857142857142856},{\"x\":1596067200000,\"y\":3.142857142857143},{\"x\":1596153600000,\"y\":4.285714285714286},{\"x\":1596240000000,\"y\":4.714285714285714},{\"x\":1596326400000,\"y\":5.285714285714286},{\"x\":1596412800000,\"y\":6.142857142857143},{\"x\":1596499200000,\"y\":6.285714285714286},{\"x\":1596585600000,\"y\":6.285714285714286},{\"x\":1596672000000,\"y\":6.285714285714286},{\"x\":1596758400000,\"y\":6.714285714285714},{\"x\":1596844800000,\"y\":6.857142857142857},{\"x\":1596931200000,\"y\":6.857142857142857},{\"x\":1597017600000,\"y\":5.714285714285714},{\"x\":1597104000000,\"y\":6},{\"x\":1597190400000,\"y\":5.857142857142857},{\"x\":1597276800000,\"y\":6},{\"x\":1597363200000,\"y\":5},{\"x\":1597449600000,\"y\":5},{\"x\":1597536000000,\"y\":5},{\"x\":1597622400000,\"y\":4.428571428571429},{\"x\":1597708800000,\"y\":4.285714285714286},{\"x\":1597795200000,\"y\":4},{\"x\":1597881600000,\"y\":4.142857142857143},{\"x\":1597968000000,\"y\":4.571428571428571},{\"x\":1598054400000,\"y\":3.7142857142857144},{\"x\":1598140800000,\"y\":3.5714285714285716},{\"x\":1598227200000,\"y\":4.571428571428571},{\"x\":1598313600000,\"y\":4.428571428571429},{\"x\":1598400000000,\"y\":4.857142857142857},{\"x\":1598486400000,\"y\":4.571428571428571},{\"x\":1598572800000,\"y\":4.857142857142857},{\"x\":1598659200000,\"y\":5.428571428571429},{\"x\":1598745600000,\"y\":5.285714285714286},{\"x\":1598832000000,\"y\":4.285714285714286},{\"x\":1598918400000,\"y\":4.714285714285714},{\"x\":1599004800000,\"y\":4.571428571428571},{\"x\":1599091200000,\"y\":4.714285714285714},{\"x\":1599177600000,\"y\":5.428571428571429},{\"x\":1599264000000,\"y\":5.571428571428571},{\"x\":1599350400000,\"y\":6.285714285714286},{\"x\":1599436800000,\"y\":7.571428571428571},{\"x\":1599523200000,\"y\":8.571428571428571},{\"x\":1599609600000,\"y\":8.857142857142858},{\"x\":1599696000000,\"y\":9.571428571428571},{\"x\":1599782400000,\"y\":8.428571428571429},{\"x\":1599868800000,\"y\":7.428571428571429}]]}]","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":150,"y":1080,"wires":[["ecc4b399.37012"]]},{"id":"ecc4b399.37012","type":"change","z":"12b119be.e59276","name":"chart.series","rules":[{"t":"set","p":"chart2","pt":"msg","to":"chart","tot":"flow"},{"t":"set","p":"options","pt":"msg","to":"(chart.series)[]","tot":"jsonata"},{"t":"set","p":"options2","pt":"msg","to":"(chart2.series)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":1080,"wires":[["b0ad21f3.7bde9","a9a9b80e.744668"]]},{"id":"b0ad21f3.7bde9","type":"debug","z":"12b119be.e59276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":1080,"wires":[]},{"id":"86bd2118.2145a","type":"change","z":"12b119be.e59276","name":"chart.series","rules":[{"t":"set","p":"chart","pt":"msg","to":"chart","tot":"flow"},{"t":"set","p":"options","pt":"msg","to":"(chart.series)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":980,"wires":[["ae45574.0407ca8","a9a9b80e.744668"]]},{"id":"ae45574.0407ca8","type":"debug","z":"12b119be.e59276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":980,"wires":[]},{"id":"c1f35d0b.c0501","type":"inject","z":"12b119be.e59276","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":980,"wires":[["86bd2118.2145a"]]},{"id":"a9a9b80e.744668","type":"debug","z":"12b119be.e59276","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":490,"y":1020,"wires":[]},{"id":"cf29e73.d1c7a18","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"(chart.series)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":1560,"wires":[["291f0b96.2465f4"]]},{"id":"291f0b96.2465f4","type":"debug","z":"12b119be.e59276","name":"stored/retrieved from flow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":1520,"wires":[]},{"id":"eced4506.ece458","type":"change","z":"12b119be.e59276","name":"retrieve from flow","rules":[{"t":"set","p":"chart","pt":"msg","to":"xx","tot":"flow"},{"t":"set","p":"info","pt":"msg","to":"change node executed setting msg.chart from flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":1320,"wires":[["49aa7573.ebe69c"]]},{"id":"49aa7573.ebe69c","type":"change","z":"12b119be.e59276","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"(chart.series)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1240,"wires":[["dd627047.f8278"]]},{"id":"dd627047.f8278","type":"debug","z":"12b119be.e59276","name":"final output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":1200,"wires":[]},{"id":"9c7d8b31.e97228","type":"inject","z":"12b119be.e59276","name":"msg.chart = {\"series\":[\"one\"]}","props":[{"p":"chart","v":"{\"series\":[\"one\"]}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":1180,"wires":[["436444a5.fef54c"]]},{"id":"436444a5.fef54c","type":"change","z":"12b119be.e59276","name":"not working","rules":[{"t":"set","p":"chart","pt":"msg","to":"{\t \"series\": (chart.series)#$pos[$pos != 1][]\t }","tot":"jsonata"},{"t":"set","p":"chart","pt":"flow","to":"chart","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1180,"wires":[["49aa7573.ebe69c","eced4506.ece458","a9fbfb56.4eee18"]]},{"id":"d93f4771.7d9398","type":"change","z":"12b119be.e59276","name":"working","rules":[{"t":"set","p":"chart","pt":"msg","to":"{\t \"series\": (chart.series)[]\t }","tot":"jsonata"},{"t":"set","p":"xx","pt":"flow","to":"chart","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":1260,"wires":[["49aa7573.ebe69c","eced4506.ece458","58ca9da7.9affa4"]]},{"id":"8d64d563.209df8","type":"inject","z":"12b119be.e59276","name":"msg.chart = {\"series\":[\"one\"]}","props":[{"p":"chart","v":"{\"series\":[\"one\"]}","vt":"json"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":160,"y":1260,"wires":[["d93f4771.7d9398"]]},{"id":"a9fbfb56.4eee18","type":"debug","z":"12b119be.e59276","name":"not working output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"chart","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":1140,"wires":[]},{"id":"58ca9da7.9affa4","type":"debug","z":"12b119be.e59276","name":"working output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"chart","targetType":"msg","statusVal":"","statusType":"auto","x":400,"y":1220,"wires":[]},{"id":"8424eb57.b8ac88","type":"inject","z":"bfd23e84.79e77","name":"msg.payload = [\"one\"]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"one\"]","payloadType":"json","x":160,"y":340,"wires":[["2b87b72f.485d98","67db77ad.286958","3fc7f139.b687de"]]},{"id":"2b87b72f.485d98","type":"change","z":"bfd23e84.79e77","name":"(payload)[]","rules":[{"t":"set","p":"output","pt":"msg","to":"(payload)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["db08c8a7.2315a8"]]},{"id":"db08c8a7.2315a8","type":"debug","z":"bfd23e84.79e77","name":"output test 2 (OK)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":340,"wires":[]},{"id":"67db77ad.286958","type":"change","z":"bfd23e84.79e77","name":"payload[true][]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[$=\"one\"][]\t/* simple json expression retrieving all elements of array (condition is true)\t   and assuring that the output is an array */","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["ed307b32.12e1a8","278a2192.ee6bfe"]]},{"id":"ed307b32.12e1a8","type":"change","z":"bfd23e84.79e77","name":"(payload)[]","rules":[{"t":"set","p":"output","pt":"msg","to":"(payload)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":300,"wires":[["894cf205.51753"]]},{"id":"894cf205.51753","type":"debug","z":"bfd23e84.79e77","name":"output test 1 (NOT OK)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":300,"wires":[]},{"id":"278a2192.ee6bfe","type":"debug","z":"bfd23e84.79e77","name":"jsonata output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":480,"y":260,"wires":[]},{"id":"3fc7f139.b687de","type":"debug","z":"bfd23e84.79e77","name":"test input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":140,"y":280,"wires":[]},{"id":"bab90c68.44ccf","type":"inject","z":"3f116b2f.d389a4","name":"msg.payload = [\"one\"]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"one\"]","payloadType":"json","x":160,"y":340,"wires":[["e6a38b63.416da8","46321fdd.3afdb","94602623.fba6f8","9db418a9.716868"]]},{"id":"94602623.fba6f8","type":"change","z":"3f116b2f.d389a4","name":"(payload)[]","rules":[{"t":"set","p":"output","pt":"msg","to":"(payload)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":340,"wires":[["3c12fa26.5b7b56"]]},{"id":"3c12fa26.5b7b56","type":"debug","z":"3f116b2f.d389a4","name":"output test 2 (OK)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":340,"wires":[]},{"id":"46321fdd.3afdb","type":"change","z":"3f116b2f.d389a4","name":"payload[true][]","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[true][]\t/* simple json expression retrieving all elements of array (condition is true)\t   and assuring that the output is an array */","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["8704f5fa.c15508","791fe1a0.ecf25","e5f6dcf4.affcc","cfe6d7a9.e45118"]]},{"id":"8704f5fa.c15508","type":"change","z":"3f116b2f.d389a4","name":"(payload)[]","rules":[{"t":"set","p":"output","pt":"msg","to":"(payload)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":300,"wires":[["2e2849df.0f5e36"]]},{"id":"2e2849df.0f5e36","type":"debug","z":"3f116b2f.d389a4","name":"output test 1 (NOT OK)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":300,"wires":[]},{"id":"791fe1a0.ecf25","type":"debug","z":"3f116b2f.d389a4","name":"jsonata output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":500,"y":120,"wires":[]},{"id":"e6a38b63.416da8","type":"debug","z":"3f116b2f.d389a4","name":"test input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":140,"y":280,"wires":[]},{"id":"e5f6dcf4.affcc","type":"change","z":"3f116b2f.d389a4","name":"(payload)[]","rules":[{"t":"set","p":"output","pt":"msg","to":"(payload)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":260,"wires":[["e7097dc8.d14e1"]]},{"id":"e7097dc8.d14e1","type":"debug","z":"3f116b2f.d389a4","name":"output test 1B (OK)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":260,"wires":[]},{"id":"cfe6d7a9.e45118","type":"change","z":"3f116b2f.d389a4","name":"(payload)[]","rules":[{"t":"set","p":"output","pt":"msg","to":"(payload)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":220,"wires":[["f867dab1.d9aa38"]]},{"id":"f867dab1.d9aa38","type":"debug","z":"3f116b2f.d389a4","name":"output test 1C (OK)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":930,"y":220,"wires":[]},{"id":"9db418a9.716868","type":"change","z":"3f116b2f.d389a4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload)[]\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":400,"wires":[["24e95dc8.ad3af2","f0d45bd0.3ddf38"]]},{"id":"b23e14ca.b85fd8","type":"debug","z":"3f116b2f.d389a4","name":"output test 3 (NOT OK)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":400,"wires":[]},{"id":"24e95dc8.ad3af2","type":"change","z":"3f116b2f.d389a4","name":"(payload)[]","rules":[{"t":"set","p":"output","pt":"msg","to":"(payload)[]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[["b23e14ca.b85fd8"]]},{"id":"f0d45bd0.3ddf38","type":"debug","z":"3f116b2f.d389a4","name":"jsonata output2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":460,"wires":[]},{"id":"d7142bdd.cf16f8","type":"function","z":"6fe3a629.ef0bf8","name":"do operation","func":"var name = msg.perfName || env.get(\"name\");\nvar operation = msg.perfOperation || env.get(\"operation\");\nvar measures = global.get(\"flow-performance\") || {};\nvar measure = measures[name] || {};\n\nfunction doOp(measure, op){\n    if(operation === \"start\"){\n        measure.start = Date.now();//change to process.hrtime\n        measure.stop = null;\n        measure.durationMs = null;\n    } else if(operation === \"stop\") {\n        measure.stop = Date.now();//change to process.hrtime\n        measure.durationMs = measure.start ? measure.stop - measure.start : null;\n        msg._performance = measure;\n    }\n}\n\n\nif(operation === \"start\"){\n    doOp(measure, operation);\n} else if(operation === \"stop\") {\n    doOp(measure, operation);\n} else if(operation === \"msg.topic\") {\n    operation = msg.topic;\n    doOp(measure, operation);\n} else if(operation === \"msg.operation\") {\n    operation = msg.operation;\n    doOp(measure, operation);\n} else if(operation === \"msg.payload\") {\n    operation = msg.payload;\n    doOp(measure, operation);\n} else {\n    return msg;    \n}\nmeasures[name] = measure;\nglobal.set(\"flow-performance\", measures);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":250,"y":100,"wires":[[]]},{"id":"30e5f45f.9153ec","type":"file in","z":"c890cc82.ba658","name":"","filename":"/data/array2616.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":300,"y":140,"wires":[["b9151deb.83bca"]]},{"id":"7c6ea708.bb5918","type":"inject","z":"c890cc82.ba658","name":"function","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"function","payload":"function","payloadType":"str","x":100,"y":100,"wires":[["30e5f45f.9153ec"]]},{"id":"b9151deb.83bca","type":"json","z":"c890cc82.ba658","name":"","property":"payload","action":"","pretty":false,"x":520,"y":140,"wires":[["b5162ce1.26d2f","863ab088.29245"]]},{"id":"b5162ce1.26d2f","type":"debug","z":"c890cc82.ba658","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":140,"wires":[]},{"id":"8d3ee702.ee6158","type":"inject","z":"c890cc82.ba658","name":"JSONata","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"JSONata","payload":"JSONata","payloadType":"str","x":110,"y":180,"wires":[["30e5f45f.9153ec"]]},{"id":"48d39ae2.adc6c4","type":"inject","z":"c890cc82.ba658","name":"unsafe","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"unsafe","payload":"unsafe","payloadType":"str","x":100,"y":140,"wires":[["30e5f45f.9153ec"]]},{"id":"863ab088.29245","type":"switch","z":"c890cc82.ba658","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"function","vt":"str"},{"t":"eq","v":"JSONata","vt":"str"},{"t":"eq","v":"unsafe","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":260,"y":260,"wires":[["6b60b54b.a8903c"],["87314d00.1520d"],["34eceb1b.68b9e4"]]},{"id":"6b60b54b.a8903c","type":"subflow:6fe3a629.ef0bf8","z":"c890cc82.ba658","name":"normalFunction","env":[{"name":"name","value":"normalFunction","type":"str"}],"x":450,"y":220,"wires":[["a4a5426b.fb442"]]},{"id":"939facfd.f81f5","type":"subflow:6fe3a629.ef0bf8","z":"c890cc82.ba658","name":"normalFunction","env":[{"name":"name","value":"normalFunction","type":"str"},{"name":"operation","value":"stop","type":"str"}],"x":830,"y":220,"wires":[["e3e03deb.0fd4c"]]},{"id":"87314d00.1520d","type":"subflow:6fe3a629.ef0bf8","z":"c890cc82.ba658","name":"JSONata","env":[{"name":"name","value":"JSONata","type":"str"}],"x":430,"y":260,"wires":[["a22c5764.d72028"]]},{"id":"3e932855.3cf118","type":"subflow:6fe3a629.ef0bf8","z":"c890cc82.ba658","name":"JSONata","env":[{"name":"name","value":"JSONata","type":"str"},{"name":"operation","value":"stop","type":"str"}],"x":810,"y":260,"wires":[["dd93e538.e1cae8"]]},{"id":"34eceb1b.68b9e4","type":"subflow:6fe3a629.ef0bf8","z":"c890cc82.ba658","name":"unsafeFunction","env":[{"name":"name","value":"unsafeFunction","type":"str"}],"x":450,"y":300,"wires":[["b4b5bb6b.792408"]]},{"id":"a5861560.4e2028","type":"subflow:6fe3a629.ef0bf8","z":"c890cc82.ba658","name":"unsafeFunction","env":[{"name":"name","value":"unsafeFunction","type":"str"},{"name":"operation","value":"stop","type":"str"}],"x":830,"y":300,"wires":[["ee79f9a0.2602f8"]]},{"id":"a4a5426b.fb442","type":"function","z":"c890cc82.ba658","name":"","func":"msg.payload.sort((a,b) => {\n    if(a.age < b.age){\n        return -1;\n    }else if(a.age > b.age){\n        return 1;\n    }else{\n        return 0;\n    }\n})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":220,"wires":[["939facfd.f81f5"]]},{"id":"a22c5764.d72028","type":"change","z":"c890cc82.ba658","name":"payload^(age)","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload^(age)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":260,"wires":[["3e932855.3cf118"]]},{"id":"e3e03deb.0fd4c","type":"debug","z":"c890cc82.ba658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":220,"wires":[]},{"id":"dd93e538.e1cae8","type":"debug","z":"c890cc82.ba658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1000,"y":260,"wires":[]},{"id":"ee79f9a0.2602f8","type":"debug","z":"c890cc82.ba658","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1000,"y":300,"wires":[]},{"id":"b4b5bb6b.792408","type":"unsafe-function","z":"c890cc82.ba658","name":"","func":"msg.payload.sort((a,b) => {\n    if(a.age < b.age){\n        return -1;\n    }else if(a.age > b.age){\n        return 1;\n    }else{\n        return 0;\n    }\n})\n\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":300,"wires":[["a5861560.4e2028"]]},{"id":"f4550c1f.830d3","type":"change","z":"c890cc82.ba658","name":"$sort()","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sort(payload, function($l,$r) { $l.age > $r.age })","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":440,"wires":[[]]}]